package template

import "github.com/haleyrc/stele/blog"

type PageViewModel struct {
	Layout LayoutViewModel
	Page   *blog.Page
}

templ Page(model PageViewModel) {
	@Layout(model.Layout) {
		@templ.Raw(string(model.Page.Content()))
	}
}
