package template

import "github.com/haleyrc/stele/template/components"

type PostProps struct {
	Post components.PostProps
}

templ (l Layout) Post(props PostProps) {
	@l.Layout(props.Post.Title) {
		@components.Post(props.Post)
	}
}
