package template

import "github.com/haleyrc/stele/template/components"

type PostProps struct {
	Layout LayoutProps
	Post   components.PostProps
}

templ Post(props PostProps) {
	@Layout(props.Layout) {
		@components.Post(props.Post)
	}
}
