package template

import "github.com/haleyrc/stele/template/components"

type PostListProps struct {
	Heading string
	Posts   components.PostListProps
}

templ PostList(layout LayoutFunc, props PostListProps) {
	@layout(props.Heading) {
		<h1 class="text-xl font-bold pb-2">
			{ props.Heading }
		</h1>
		@components.PostList(props.Posts)
	}
}
