package template

import (
	"github.com/haleyrc/stele/blog"
	"github.com/haleyrc/stele/template/components"
)

type PostListViewModel struct {
	Layout  LayoutViewModel
	Heading string
	Posts   blog.Posts
}

templ PostList(model PostListViewModel) {
	@Layout(model.Layout) {
		<h1 class="text-xl font-bold pb-2">
			{ model.Heading }
		</h1>
		@components.PostList(model.Posts)
	}
}
