package pages

import "github.com/haleyrc/stele/template/components"

type PostProps struct {
	Post components.PostProps
}

// Post renders a page for a single blog post.
templ Post(layout LayoutFunc, props PostProps) {
	@layout(props.Post.Title) {
		@components.Post(props.Post)
	}
}
